<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arifraza.adrriagit">

   

 <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pic2"
        android:roundIcon="@drawable/pic3"
        android:label="ADRRIA"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">


      


<activity android:name=".myenq"></activity>
        <activity android:name=".myrep" />
        <activity android:name=".query2" />
        <activity android:name=".query" />
        <activity android:name=".cusrs" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity"

            />
        <activity android:name=".rmessage" />
        <activity android:name=".cmessage" />
        <activity android:name=".admin" />
        <activity android:name=".passw" />
        <activity android:name=".Activity2" />
        <activity android:name=".MainActivitynew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>